body{
  background-image:url('https://media.giphy.com/media/j3VVG1Ihq8TnKuXpCO/giphy.gif');
  background-repeat:;
  background-size:contain;
  background-position:center;
}
p{
  border: 2px;
  border-radius: 25px;
}
